HF_API_KEY=your_huggingface_key

EMBED_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

GEMINI_API_KEY=your_gemini_key
LLM_MODEL_NAME=gemini-2.5-flash

CHROMA_DB_HOST=localhost

RAG_DATA_DIR=./data

CHUNK_LENGTH=500

PORT=8000